.user-post {
  background-color: rgba(223, 109, 229, 0.672);
  border: 1px solid #d25757;
}
.card {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.091);
  width: 100%;
  max-width: 400px;
}

.title {
  font-size: 24px;
  margin: 0 0 16px 0;
  background-color: rgba(66, 39, 39, 0.34);
  padding: 0 10px;
  border-radius: 5%;
  display: inline-block;
}

.p {
  font-size: 14px;
  margin: 0;
  opacity: 0.6;
}

.post-footer {
  display: flex;
  justify-content: space-around;
  margin-top: 16px;
  font-size: 14px;
  text-transform: uppercase;
}
