/* App.css */

.app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  max-width: 1280px;
  margin: 0 auto;

  text-align: center;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1; /* Allow content to expand */
  margin: 15px;
}

.main-content {
  flex: 1;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.app-footer {
  text-align: center;
  /* Ensure footer takes minimal space, adjust as needed */
}
