.register-container {
  margin: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgb(213, 198, 228);
}
.register-container-element {
  margin: 10px;
}
.register-container-button {
  margin: 10px;
  width: auto;
}
